<a href="https://colab.research.google.com/github/Sinrez/PythonProjects/blob/main/1_4_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np

In [14]:
df_all = pd.read_csv("daily_weather_data.csv").set_index('city')
df_all.head()

,date,country,Latitude,Longitude,tavg,tmin,tmax,wdir,wspd,pres
city,,,,,,,,,,
Sukhumi,21-07-2018,Abkhazia,43.001525,41.023415,23.4,20.9,25.5,329.0,9.3,1009.6
Sukhumi,22-07-2018,Abkhazia,43.001525,41.023415,23.5,21.0,25.7,337.0,9.4,1010.0
Sukhumi,23-07-2018,Abkhazia,43.001525,41.023415,23.5,21.1,25.5,41.0,8.2,1007.7
Sukhumi,24-07-2018,Abkhazia,43.001525,41.023415,24.3,20.8,27.1,10.0,9.3,1004.4
Sukhumi,25-07-2018,Abkhazia,43.001525,41.023415,26.5,22.7,30.0,9.0,9.7,1002.0

In [23]:
# Найдите минимальное значение колонки'tmin' в Helsinki за 2020 год.
hell = df_all.loc['Helsinki'].astype({'date': np.datetime64})
hell_2020 = hell[hell['date'].dt.year == 2020]

# Найдите минимальное значение в столбце 'tmin'
min_tmin = hell_2020['tmin'].min()
min_tmin

<ipython-input-23-21e4b10811c1>:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  hell = df_all.loc['Helsinki'].astype({'date': np.datetime64})

-8.6