<a href="https://colab.research.google.com/github/Sinrez/PythonProjects/blob/main/hw1_pandas_in_act.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

superheroes = [
             "Batman",
             "Superman",
             "Spider-Man",
             "Iron Man",
             "Captain America",
             "Wonder Woman"
]

strength_levels = (100, 120, 90, 95, 110, 120)

In [2]:
# Заполните новый объект Series значениями из списка супергероев
hers = pd.Series(superheroes)
hers

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

In [10]:
# Заполните новый объект Series значениями из кортежа уровней силы
hers = pd.Series(index = superheroes, data=strength_levels)
hers

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [5]:
# Извлеките первые две строки из объекта Series heroes
hers.head(2)

100      Batman
120    Superman
dtype: object

In [6]:
# Извлеките последние четыре строки из объекта Series heroes
hers.tail(4)

90          Spider-Man
95            Iron Man
110    Captain America
120       Wonder Woman
dtype: object

In [9]:
# Определите количество уникальных значений в heroes
hers.nunique()

6

In [12]:
# Вычислите среднюю силу супергероев в heroes
hers.mean()

105.83333333333333

In [13]:
# Вычислите максимальную и минимальную силу в heroes
print(hers.max())
print(hers.min())

120
90

In [15]:
# Вычислите, каким будет уровень силы каждого из супергероев при удвоении
hers_n = hers * 2
hers_n

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [16]:
# Преобразуйте объект Series heroes в ассоциативный массив языка Pythonhe
hers_dict = dict(hers)
hers_dict

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}