<a href="https://colab.research.google.com/github/Sinrez/PythonProjects/blob/main/hw2_pandas_in_act.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import datetime as dt

In [2]:
wars = pd.read_csv("revolutionary_war.csv")
wars.head()

                              Battle  Start Date          State
0                       Powder Alarm    9/1/1774  Massachusetts
1  Storming of Fort William and Mary  12/14/1774  New Hampshire
2   Battles of Lexington and Concord   4/19/1775  Massachusetts
3                    Siege of Boston   4/19/1775  Massachusetts
4                 Gunpowder Incident   4/20/1775       Virginia

In [3]:
today = dt.datetime(2020, 12, 26)
today.strftime("%A")

'Saturday'

In [6]:
wars.dtypes

Battle        object
Start Date    object
State         object
dtype: object

In [15]:
str_date= '9/1/1774'

def get_day(in_date):
  work_date = list(map(int, str(in_date).split('/')))
  res_date = dt.datetime(work_date[2],work_date[0], work_date[1])
  return res_date.strftime("%A")
print(get_day(str_date))

Thursday

In [28]:
#вариант 2 более по pandas
all_dates = pd.read_csv(
    "revolutionary_war.csv",
    parse_dates = ["Start Date"],
    usecols = ["Start Date"],
    squeeze = True,
)
all_dates.head()

<ipython-input-28-4f3843d9ce00>:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  all_dates = pd.read_csv(

0   1774-09-01
1   1774-12-14
2   1775-04-19
3   1775-04-19
4   1775-04-20
Name: Start Date, dtype: datetime64[ns]

In [29]:
def get_day_v2(in_date):
  return in_date.strftime("%A")

In [32]:
res = all_dates.dropna().apply(get_day_v2)
res.value_counts()

Saturday     39
Friday       39
Wednesday    32
Thursday     31
Sunday       31
Tuesday      29
Monday       27
Name: Start Date, dtype: int64