<a href="https://colab.research.google.com/github/Sinrez/PythonProjects/blob/main/pandas_stepic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
df_o =pd.read_csv('/content/Orders.csv', sep = ';')
df_od =  pd.read_csv('/content/Order_details.csv', sep = ';')
df_p =  pd.read_csv('/content/Products.csv', sep = ';')
df_c = pd.read_csv('/content/Customers.csv', sep = ';')

In [2]:
df_o =pd.read_csv('/content/Orders.csv', sep = ';')
df_o.describe()
df_o.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       830 non-null    int64
 1   CustomerID    830 non-null    object
 2   EmployeeID    830 non-null    int64
 3   OrderDate     830 non-null    object
 4   RequiredDate  830 non-null    object
 5   ShippedDate   809 non-null    object
 6   Freight       830 non-null    float64
dtypes: float64(1), int64(2), object(4)
memory usage: 45.5+ KB

In [ ]:
df_od =  pd.read_csv('/content/Order_details.csv', sep = ';')
df_od.describe()

            OrderID    ProductID    UnitPrice     Quantity     Discount
count   2155.000000  2155.000000  2155.000000  2155.000000  2155.000000
mean   10659.375870    40.793039    26.218520    23.812993     0.056167
std      241.378032    22.159019    29.827418    19.022047     0.083450
min    10248.000000     1.000000     2.000000     1.000000     0.000000
25%    10451.000000    22.000000    12.000000    10.000000     0.000000
50%    10657.000000    41.000000    18.400000    20.000000     0.000000
75%    10862.500000    60.000000    32.000000    30.000000     0.100000
max    11077.000000    77.000000   263.500000   130.000000     0.250000

In [ ]:
df_p =  pd.read_csv('/content/Products.csv', sep = ';')
# df_p.describe()
df_p.shape[0]
len(df_p)
df_p.shape[1]
df_p.shape

(77, 7)

In [ ]:
df_c = pd.read_csv('/content/Customers.csv', sep = ';')
df_c.head(25)

,CustomerID,ContactName,ContactTitle,Phone,Address
0,ALFKI,Maria Anders,Sales Representative,030-0074321,Obere Str. 57
1,ANATR,Ana Trujillo,Owner,(5) 555-4729,Avda. de la Constitucion 2222
2,ANTON,Antonio Moreno,Owner,(5) 555-3932,Mataderos 2312
3,AROUT,Thomas Hardy,Sales Representative,(171) 555-7788,120 Hanover Sq.
4,BERGS,Christina Berglund,Order Administrator,0921-12 34 65,Berguvsv?gen 8
5,BLAUS,Hanna Moos,Sales Representative,0621-08460,Forsterstr. 57
6,BLONP,Frederique Citeaux,Marketing Manager,88.60.15.31,"24, place Kleber"
7,BOLID,Martin Sommer,Owner,(91) 555 22 82,"C/ Araquil, 67"
8,BONAP,Laurence Lebihan,Owner,91.24.45.40,"12, rue des Bouchers"
9,BOTTM,Elizabeth Lincoln,Accounting Manager,(604) 555-4729,23 Tsawassen Blvd.
10,BSBEV,Victoria Ashworth,Sales Representative,(171) 555-1212,Fauntleroy Circus
11,CACTU,Patricio Simpson,Sales Agent,(1) 135-5555,Cerrito 333
12,CENTC,Francisco Chang,Marketing Manager,(5) 555-3392,Sierras de Granada 9993
13,CHOPS,Yang Wang,Owner,0452-076545,Hauptstr. 29
14,COMMI,Pedro Afonso,Sales Associate,(11) 555-7647,"Av. dos Lusiadas, 23"
15,CONSH,Elizabeth Brown,Sales Representative,(171) 555-2282,Berkeley Gardens 12 Brewery
16,DRACD,Sven Ottlieb,Order Administrator,0241-039123,Walserweg 21
17,DUMON,Janine Labrune,Owner,40.67.88.88,"67, rue des Cinquante Otages"
18,EASTC,Ann Devon,Sales Agent,(171) 555-0297,35 King George
19,ERNSH,Roland Mendel,Sales Manager,7675-3425,Kirchgasse 6
20,FAMIA,Aria Cruz,Marketing Assistant,(11) 555-9857,"Rua Oros, 92"
21,FISSA,Diego Roel,Accounting Manager,(91) 555 94 44,"C/ Moralzarzal, 86"
22,FOLIG,Martine Rance,Assistant Sales Agent,20.16.10.16,"184, chaussee de Tournai"
23,FOLKO,Maria Larsson,Owner,0695-34 67 21,Akergatan 24
24,FRANK,Peter Franken,Marketing Manager,089-0877310,Berliner Platz 43

In [ ]:
df_o['Freight']

0      32.38
1      11.61
2      65.83
3      41.34
4      51.30
       ...
825    24.95
826    18.44
827     6.19
828    38.28
829     8.53
Name: Freight, Length: 830, dtype: float64

In [3]:
s = df_o['Freight']
s[1] #значение с индексом = 1
s[1:5] #значения с индексами от 1 до 4
s[1:-820] #значения с индексами от 1 до -820 с конца
# s[[1,3,5]] #выбор значений с индексами 1,3,5

1     11.61
2     65.83
3     41.34
4     51.30
5     58.17
6     22.98
7    148.33
8     13.97
9     81.91
Name: Freight, dtype: float64

In [4]:
df_od[['OrderID', 'ProductID', 'UnitPrice']]

      OrderID  ProductID  UnitPrice
0       10248         11      14.00
1       10248         42       9.80
2       10248         72      34.80
3       10249         14      18.60
4       10249         51      42.40
...       ...        ...        ...
2150    11077         64      33.25
2151    11077         66      17.00
2152    11077         73      15.00
2153    11077         75       7.75
2154    11077         77      13.00

[2155 rows x 3 columns]

In [10]:
df_od[['OrderID', 'ProductID', 'UnitPrice']]

# df_od.drop(columns = ['Quantity', 'Discount'])

      OrderID  ProductID  UnitPrice
0       10248         11      14.00
1       10248         42       9.80
2       10248         72      34.80
3       10249         14      18.60
4       10249         51      42.40
...       ...        ...        ...
2150    11077         64      33.25
2151    11077         66      17.00
2152    11077         73      15.00
2153    11077         75       7.75
2154    11077         77      13.00

[2155 rows x 3 columns]