<a href="https://colab.research.google.com/github/Sinrez/PythonProjects/blob/main/pulsar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('/content/asset-v1_ITMOUniversity+DATSC+summer_2022_1+type@asset+block@pulsar_stars_new.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17898 entries, 0 to 17897
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MIP     17898 non-null  float64
 1   STDIP   17898 non-null  float64
 2   EKIP    17898 non-null  float64
 3   SIP     17898 non-null  float64
 4   MC      17898 non-null  float64
 5   STDC    17898 non-null  float64
 6   EKC     17898 non-null  float64
 7   SC      17898 non-null  float64
 8   TG      17898 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 1.2 MB

In [ ]:
data.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

In [ ]:
sample_data = data[((data.TG == 0) & (data.MIP >= 73.4765625) & (data.MIP <= 77.6015625)) | ((data.TG == 1) & (data.MIP >= 25.890625) & (data.MIP <= 31.5078125))]
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 61 to 17711
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MIP     203 non-null    float64
 1   STDIP   203 non-null    float64
 2   EKIP    203 non-null    float64
 3   SIP     203 non-null    float64
 4   MC      203 non-null    float64
 5   STDC    203 non-null    float64
 6   EKC     203 non-null    float64
 7   SC      203 non-null    float64
 8   TG      203 non-null    int64
dtypes: float64(8), int64(1)
memory usage: 15.9 KB

In [ ]:
mean_mip_rounded = round(sample_data['MIP'].mean(), 3)
mean_mip_rounded

52.159