<a href="https://colab.research.google.com/github/Sinrez/PythonProjects/blob/main/regex_and_examples_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
common_string = 'C:\file.txt' # Обычная строка
raw_string = r'C:\file.txt' # Сырая строка
raw_string

'C:\\file.txt'

In [ ]:
# Используем 2 префикса одновременно:
raw_f_string = rf'C:\file.txt'
f_raw_string = fr'C:\file.txt'
print(raw_f_string)
print(f_raw_string )

C:\file.txt
C:\file.txt

In [ ]:
print(rf"\\n")

print("\\\\n")

print(r"\\n")

print(fr"\\n")

print("\\n")

print(f"\\n")

print("\\\n")

print("r\\n")

\\n
\\n
\\n
\\n
\n
\n
\

r\n

In [ ]:
from string import printable

print(printable)

0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
print(len([] + [[[[]]]]))

1

In [ ]:
print(len([] + [[[]], []] + [[[[]]]] + [[[], [], []], [[], [[]]]]))

5

In [ ]:
print('\\\\')

\\

In [ ]:
s = "abracadabra"
print(s[3::-1])

arba

In [ ]:
s = input()
for i in range(len(s)):
    if i % 3 == 0:
        print(s[i], end='')
print(s[::-1])
print(s[5:-5])
print(s[4::2])

In [ ]:
# put your python code here
password = input()

# Проверка на длину и содержание заглавных и строчных букв
if len(password) >= 8 and any(c.isupper() for c in password) and any(c.islower() for c in password):
    print("YES")
else:
    print("NO")

In [ ]:
s = "hello WORLD "
print(s[len(s) // 2:] + s[:len(s) // 2])

WORLD hello

In [4]:
# n, k = int(input()),int(input())
n,k = 3,100
# lst_str = input().lower().split()
lst_str = 'Придумайте какую-нибудь кРаКаЗяБрУ для кУрСА по алгебре. Не забудьте использовать интерполяционый многочлен в решении.'.lower().replace('.','').split()
print(lst_str)
# penalty = []
penalty = ['многочлен','краказябр','курс']
count = 0
# for _ in range(n):
#     penalty.append(input().lower())
for p in penalty:
    for l in lst_str:
      if l.startswith(p):
        count += k
print(count)

['придумайте', 'какую-нибудь', 'краказябру', 'для', 'курса', 'по', 'алгебре', 'не', 'забудьте', 'использовать', 'интерполяционый', 'многочлен', 'в', 'решении']
300

In [ ]:
n = int(input())
k = int(input())
s = input().lower()
amount = 0
for i in range(n):
    word = input()
    amount += s.count(word)
print(amount * k)

In [ ]:
print(*[i if i not in 'аоуэыиеёяю' else 'у' for i in input()], sep='')

In [1]:
l = [[[1, 2, 3]], [[4, 5, 6], [39, 40, 41]], [[7, 8, 9], [10, 11, 12]]]

print(l[1][1][0])

39

In [2]:
l = [[0, "12", 3], [4, "56"], "789"]
print(l[1][1][1])

6

Шахматная раскраска

Напиши программу, которая выведет таблицу размером n * n, которая будет заполнена числами 0 и 1 в шахматном порядке (в левом верхнем углу таблице стоит 0)

В единственной строчке вводится число n

In [ ]:
n = int(input())
l = []
for i in range(n):
    row = [] # создаем вложенный список, который будет элементом l
    for j in range(n):
        if i % 2 == 0:
            if j % 2 == 0:
                row.append(0)
            else:
                row.append(1)
        elif i % 2 != 0:
            if j % 2 == 0:
                row.append(1)
            else:
                row.append(0)
    l.append(row) 
for r in l:
    print(*r)

In [13]:
print(len((' ' * 100).split()))

0

In [1]:
import pandas as pd

# create two series
s1 = pd.Series([1, 2])
s2 = pd.Series([3, 4])

# append s2 to s1
s3 = s1.append(s2)

print(s3)

0    1
1    2
0    3
1    4
dtype: int64

<ipython-input-1-8b14cec91858>:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s3 = s1.append(s2)

In [3]:
import pandas as pd
import numpy as np

# Создаем DataFrame с пропусками
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=list('ABCD'))

# Выводим исходный DataFrame
print(df)



# Заполняем все пропуски нулями
df1 = df.fillna(0)

print(df1)

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0
     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  0.0
3  0.0  3.0  0.0  4.0

In [4]:
import pandas as pd

# create a series
s = pd.Series([1, 2, 3])

# apply a function to each element in the series
s = s.apply(lambda x: x * 2)

print(s)

0    2
1    4
2    6
dtype: int64

In [5]:
import pandas as pd

s = pd.Series([1, 2, 3])

def add_one(x):
    return x + 1

s.apply(add_one)

0    2
1    3
2    4
dtype: int64

In [6]:
import pandas as pd

# создадим серию с дублирующимися значениями
s = pd.Series([1, 2, 2])

# удалим дубликаты
s = s.drop_duplicates()

print(s)

0    1
1    2
dtype: int64

In [7]:
import pandas as pd

# создать серию и словарь для сопоставления с новыми значениями
s = pd.Series(['cat', 'dog'])
mapping = {'cat': 'feline', 'dog': 'canine'}

# сопоставить значения в серии с новыми значениями с помощью .map()
s = s.map(mapping)

print(s)

0    feline
1    canine
dtype: object

In [ ]:
import pandas as pd

def solution():
    n = int(input())
    list_ = [int(input()) for _ in range(n)]
    s1 = pd.Series(list_)
    result = s1.apply(lambda x: x ** 2)
    print(result)
solution()

In [ ]:
import pandas as pd

def solution():
    n = int(input())
    list_ = [int(input()) for _ in range(n)]
    s1 = pd.Series(list_)
    result = s1.apply(lambda x: x / s1.mean())
    print(result)
solution()

In [8]:
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']})

frames = [df1, df2, df3]

result = pd.concat(frames)

print(result)

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [9]:
import pandas as pd

result = pd.concat([df1, df2], axis=0)
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [10]:
import pandas as pd

result = pd.concat([df1, df2], axis=1)
result

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

In [11]:
df1 = pd.DataFrame({'key': ['a', 'b', 'c', 'd'], 'value1': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['a', 'b', 'e', 'f'], 'value2': [5, 6, 7, 8]})
df1.merge(df2, on='key') # объединение по ключу с помощью метода merge

  key  value1  value2
0   a       1       5
1   b       2       6

In [1]:
# преобразование строк в словари
dict1 = eval("{'text': ['i', 'love']}")
dict2 = eval("{'text': ['python']}")

# преобразование словаря в DataFrame
import pandas as pd
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)

# вывод результата
print(pd.concat([df1, df2], axis=0))

     text
0       i
1    love
0  python

In [2]:
import pandas as pd

df = pd.DataFrame({'name': ['John Smith','Jane Doe','Joe Schmo'], 
                   'address': ['123 Main St.','456 Maple Ave.','789 Broadway'], 
                   'age':[34,28,51]})

df[['first','last']] = df['name'].str.split(expand=True)

print(df)

         name         address  age first   last
0  John Smith    123 Main St.   34  John  Smith
1    Jane Doe  456 Maple Ave.   28  Jane    Doe
2   Joe Schmo    789 Broadway   51   Joe  Schmo

In [3]:
import pandas as pd

# Создаем DataFrame
df = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie', 'David'],
                   'age': [25, 32, 18, 47],
                   'gender': ['F', 'M', 'M', 'M']})

# Фильтруем DataFrame по столбцу age
df_filtered = df.query('age > 30')

# Выводим отфильтрованный DataFrame
print(df_filtered)

    name  age gender
1    Bob   32      M
3  David   47      M