<a href="https://colab.research.google.com/github/Sinrez/PythonProjects/blob/main/titan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
df_all = pd.read_csv('/content/titanic (1).csv')
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerID  1313 non-null   int64
 1   Name         1313 non-null   object
 2   PClass       1313 non-null   object
 3   Age          756 non-null    float64
 4   Sex          1313 non-null   object
 5   Survived     1313 non-null   int64
 6   SexCode      1313 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 71.9+ KB

In [13]:
df.isna

<bound method DataFrame.isna of   Column1 Column2 Column3
0      10       0     1st
1      25    NULL     3rd
2    NULL       1     3rd
3      70       0     2nd
4      18       1     1st>

In [15]:
# Find columns with NaN values
columns_with_nan = df.columns[df.isna().any()].tolist()

# Print the column names
print(', '.join(columns_with_nan))

In [ ]:
df_all.describe()

       PassengerID         Age     Survived      SexCode
count  1313.000000  756.000000  1313.000000  1313.000000
mean    657.000000   30.397989     0.342727     0.351866
std     379.174762   14.259049     0.474802     0.477734
min       1.000000    0.170000     0.000000     0.000000
25%     329.000000   21.000000     0.000000     0.000000
50%     657.000000   28.000000     0.000000     0.000000
75%     985.000000   39.000000     1.000000     1.000000
max    1313.000000   71.000000     1.000000     1.000000

In [ ]:
average_age_male = df_all[df_all['Sex'] == 'male']['Age'].mean()
rounded_average_age_male = round(average_age_male)
rounded_average_age_male

31

In [ ]:
df_all.head()

,PassengerID,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0

In [ ]:

average_age_female = df_all[(df_all['Sex'] == 'female') & (df_all['Survived'] == 1)]['Age'].mean()

average_age_female

30.86714285714286

In [ ]:
sorted_passengers = df_all.sort_values('Age')
passenger_pclass = sorted_passengers.iloc[957]['PClass']
passenger_pclass

'3rd'

In [2]:
import pandas as pd
df = pd.DataFrame({
    'Column1': [10, 25, 'NULL', 70, 18],
    'Column2': [0, 'NULL', 1, 0, 1],
    'Column3': ['1st', '3rd', '3rd', '2nd', '1st']})
df

  Column1 Column2 Column3
0      10       0     1st
1      25    NULL     3rd
2    NULL       1     3rd
3      70       0     2nd
4      18       1     1st

In [3]:
df.drop({'Column1','Column2'}, axis=1)

  Column3
0     1st
1     3rd
2     3rd
3     2nd
4     1st

In [23]:
import pandas as pd
data = pd.read_csv('/content/task4_1_939291.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          200 non-null    int64
 1   DISTANCE    200 non-null    int64
 2   STOP_COUNT  200 non-null    int64
 3   COST        200 non-null    int64
 4   FITNESS     200 non-null    int64
 5   INTERNET    200 non-null    int64
dtypes: int64(6)
memory usage: 9.5 KB

In [18]:
import pandas as pd

# Присвоение имен столбцам
data.columns = ['ID', 'Расстояние до метро (мин)', 'Количество остановок на метро', 'Стоимость аренды', 'Расстояние до фитнес-клуба (мин)', 'Количество интернет-провайдеров']

# Экспоненциальная нормировка
normalized_distance = data['Расстояние до метро (мин)'].apply(lambda x: 1 / (2 ** x))
normalized_stops = data['Количество остановок на метро'].apply(lambda x: 1 / (2 ** x))
normalized_rent = data['Стоимость аренды'].apply(lambda x: 1 / x)
normalized_fitness = data['Расстояние до фитнес-клуба (мин)'].apply(lambda x: 1 / (2 ** x))
normalized_providers = -0.4 * data['Количество интернет-провайдеров']

# Вычисление целевой функции
target_function = normalized_distance + normalized_stops + normalized_rent + 0.2 * normalized_fitness + normalized_providers

# Выбор трех лучших вариантов
best_options = target_function.nsmallest(3)

# Получение идентификаторов трех лучших вариантов
best_ids = best_options.index.tolist()

# Вывод результатов
print('Идентификаторы трех лучших вариантов:', ', '.join(map(str, best_ids)))

Идентификаторы трех лучших вариантов: 125, 4, 44

In [24]:
import pandas as pd
import numpy as np

data = pd.read_csv('/content/task4_1_939291.csv')

data['distance_walk_norm'] = 1 - np.exp(1 - data['DISTANCE'] / data['DISTANCE'].min())
data['metro_stations_norm'] = 1 - np.exp(1 - data['STOP_COUNT'] / data['STOP_COUNT'].min())
data['rent_norm'] = 1 - np.exp(1 - data['COST'] / data['COST'].min())
data['fitness_distance_norm'] = 1 - np.exp(1 - data['FITNESS'] / data['FITNESS'].min())
data['internet_providers_norm'] = -1 * np.exp(1 - data['INTERNET'] / data['INTERNET'].max())

data['target_value'] = (
    data['distance_walk_norm'] +
    data['metro_stations_norm'] +
    0.2 * data['fitness_distance_norm'] +
    0.4 * data['internet_providers_norm']
)

best_options = data.nsmallest(3, 'target_value')['ID'].tolist()

best_options_str = ",".join(map(str, best_options))
print(best_options_str)

180,17,9