<a href="https://colab.research.google.com/github/Sinrez/PythonProjects/blob/main/tr_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
employees = {'Alice' : 100000,
  'Bob' : 99817,
  'Carol' : 122908,
  'Frank' : 88123,
  'Eve' : 93121}

top_earners = []
for key, val in employees.items():
  if val >= 100000:
    top_earners.append((key,val))

print(top_earners)
# [('Alice', 100000), ('Carol', 122908)]

[('Alice', 100000), ('Carol', 122908)]

In [ ]:
top_earners  = [(k, v) for k, v in employees.items() if v >= 100000 ]
top_earners

[('Alice', 100000), ('Carol', 122908)]

In [ ]:
## Данные
text = '''
Call me Ishmael. Some years ago - never mind how long precisely - having
little or no money in my purse, and nothing particular to interest me
on shore, I thought I would sail about a little and see the watery part
of the world. It is a way I have of driving off the spleen, and regulating
the circulation. - Moby Dick'''

## Однострочник
w = [ [x for x in line.split() if len(x)>3]  for line in text.split('\n')]
w

[[],
 ['Call',
  'Ishmael.',
  'Some',
  'years',
  'never',
  'mind',
  'long',
  'precisely',
  'having'],
 ['little', 'money', 'purse,', 'nothing', 'particular', 'interest'],
 ['shore,', 'thought', 'would', 'sail', 'about', 'little', 'watery', 'part'],
 ['world.', 'have', 'driving', 'spleen,', 'regulating'],
 ['circulation.', 'Moby', 'Dick']]

In [8]:
## Данные
letters_amazon = '''
We spent several years building our own database engine,
Amazon Aurora, a fully-managed MySQL and PostgreSQL-compatible
service with the same or better durability and availability as
the commercial engines, but at one-tenth of the cost. We were
not surprised when this worked.
'''
## Однострочник
find = lambda x, q: x[x.find(q)-30:x.find(q)+30] if q in x else -1
# find = lambda x, q: x if q in x else -1
## Результат
print(find(letters_amazon, 'SQL'))

zon Aurora, a fully-managed MySQL and PostgreSQL-compatible