<a href="https://colab.research.google.com/github/Sinrez/PythonProjects/blob/main/%D0%BA%D1%801.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Контрольная работа

In [1]:
import pandas as pd
import numpy as np

### Датафрейм с которым вы будете сегодня работать

In [22]:
data = [['Girev', 'Andrey', 'ВИП', 2815, 29, 58, 6358, 'Moscow', 'Xiaomi'],
       ['Bykin', 'Stas', 'Все за 300', 3634, 37, 78, 602, 'Kazan',
        'Samsung'],
       ['Ivanov', 'Alex', 'Всё за 800', 410, 47, 81, 3582, 'Moscow',
        'Huawei'],
       ['Andreev', 'Sergey', 'Всё за 500', 1981, 75, 98, 5442, 'Kazan',
        'Apple'],
       ['Girev', 'Stas', 'Всё за 800', 4969, 43, 61, 8510, 'Moscow',
        'Samsung'],
       ['Bykin', 'Andrey', 'Всё за 500', 4308, 49, 39, 2525, 'Moscow',
        'Xiaomi'],
       ['Kozlov', 'Igor', 'Всё за 800', 300, 60, 31, 8543, 'Yakutsk',
        'Samsung'],
       ['Girev', 'Alex', 'Промо', 4199, 47, 90, 3925, 'Kazan', 'Apple'],
       ['Petrov', 'Nikolay', 'ВИП', 4810, 72, 88, 7188, 'Moscow',
        'Apple'],
       ['Andreev', 'Sergey', 'Всё за 800', 4118, 52, 53, 419, 'Yakutsk',
        'Apple'],
       ['Smolov', 'Stas', 'Промо', 1991, 28, 67, 5016, 'Kazan', 'Xiaomi'],
       ['Girev', 'Igor', 'Корпоративный', 1430, 69, 19, 9520, 'Yakutsk',
        'Samsung'],
       ['Kozlov', 'Andrey', 'Корпоративный', 113, 71, 82, 2785, 'Kazan',
        'Apple'],
       ['Ivanov', 'Sergey', 'Промо', 3394, 39, 12, 2718, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Sergey', 'Всё за 250 (архив)', 3493, 32, 6, 8959,
        'Yakutsk', 'Huawei'],
       ['Kozlov', 'Stas', 'Всё за 800', 4565, 59, 82, 3168, 'Moscow',
        'Apple'],
       ['Vlasov', 'Andrey', 'Всё за 800', 3192, 29, 74, 2852, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Alex', 'Корпоративный', 3764, 71, 22, 2768, 'Moscow',
        'Huawei'],
       ['Vlasov', 'Sergey', 'Всё за 800', 3816, 28, 35, 5734,
        'Vladivostok', 'Apple'],
       ['Bykin', 'Alex', 'Промо', 817, 65, 34, 2131, 'Vladivostok',
        'Samsung'],
       ['Andreev', 'Nikolay', 'Всё за 500', 385, 49, 62, 1815, 'Kazan',
        'Xiaomi'],
       ['Bykin', 'Igor', 'Всё за 500', 2642, 38, 11, 3787, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Sergey', 'Все за 300', 4230, 62, 68, 5512,
        'Vladivostok', 'Samsung'],
       ['Bykin', 'Sergey', 'Всё за 800', 4100, 48, 39, 227, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Stas', 'Все за 300', 3371, 53, 24, 7946, 'Kazan',
        'Apple'],
       ['Smolov', 'Sergey', 'Корпоративный', 3577, 70, 71, 8847,
        'Yakutsk', 'Huawei'],
       ['Mezov', 'Nikolay', 'Всё за 250 (архив)', 2742, 28, 19, 7115,
        'Yakutsk', 'Huawei'],
       ['Smolov', 'Stas', 'Всё за 500', 2644, 41, 33, 8341, 'Moscow',
        'Xiaomi'],
       ['Vlasov', 'Andrey', 'Всё за 500', 4725, 26, 93, 9441,
        'Vladivostok', 'Xiaomi'],
       ['Ivanov', 'Nikolay', 'Всё за 500', 2785, 41, 5, 2901, 'Moscow',
        'Samsung']]

df = pd.DataFrame(data, columns = ['surname', 'name', 'tarif', 'balance', 'age', 'sms', 'voice', 'city', 'phone'])

In [23]:
df

,surname,name,tarif,balance,age,sms,voice,city,phone
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung

In [ ]:
#surname    - Фамилия клиента
#name       - Имя клиента
#tarif      - Тариф клиента
#balance	- Баланс клиента
#age	    - Возраст клиента
#sms	    - Количество отправленных СМС
#voice	    - Количество секунд разговора (звонки)
#city	    - Город клиента
#phone      - Марка телефона клиента

## Ответы на вопросы загрузите на степик

### Вопрос 1: определите средний возраст клиента

In [4]:
df.age.mean()

48.6

### Вопрос 2: на каком тарифе средний возраст клиента наименьший

In [29]:
df.groupby('tarif').age.mean().idxmin()
# df.groupby('tarif').age.mean()

'Всё за 250 (архив)'

### Вопрос 3: с какого города больше всего клиентов?

In [6]:
df.city.value_counts().idxmax()

'Moscow'

### Вопрос 4: на каком тарифе отправили больше всего СМС?

In [7]:
df.groupby('tarif').sms.sum().idxmax()

'Всё за 800'

### Вопрос 5: определите самую популярную марку смартфона у пользователей до 40 (включительно)

In [8]:
df2 = df[df['age'] <= 40]
df2

,surname,name,tarif,balance,age,sms,voice,city,phone
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi

In [9]:
df2.groupby('phone').phone.count().sort_values(ascending=False)

phone
Xiaomi     6
Huawei     2
Apple      1
Samsung    1
Name: phone, dtype: int64

### Вопрос 6: определите самую популярную марку смартфона у пользователей старше 40

In [10]:
df2 = df[df['age'] >= 40]
df2

,surname,name,tarif,balance,age,sms,voice,city,phone
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung

In [11]:
df2.groupby('phone').phone.count().sort_values(ascending=False)

phone
Apple      7
Samsung    6
Xiaomi     4
Huawei     3
Name: phone, dtype: int64

### Вопрос 7: В каком городе клиенты меньше всего отправляют СМС

In [14]:
df.groupby('city').sms.sum().idxmin()

'Vladivostok'

In [15]:
# import pandas as pd

# data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
#         'Age': [25, 30, 35, 40],
#         'Salary': [50000, 60000, 70000, 80000]}

# df = pd.DataFrame(data)

# max_salary_index = df['Salary'].idxmax()
# print(max_salary_index)

3

### Вопрос 8: В каком городе клиенты больше всего говорят по телефону?

In [17]:
df2.groupby('city').voice.sum().idxmax()

'Moscow'

### Вопрос 9: Сколько заработала фирма на СМС сообщениях? Стоимость одного сообщения 3 рубля.

In [24]:
df.sms.sum()*3

4605

In [25]:
df.loc[df['balance'] > 4000]

,surname,name,tarif,balance,age,sms,voice,city,phone
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi

In [26]:
len(df.loc[df['balance'] > 4000])

9

In [27]:
len(df.loc[df['balance'] > 4000]) / len(df) * 100

30.0

### Вопрос 12: Определите процент клиентов, у которых баланс выше 2000 и тариф 'Всё за 500'

In [30]:
cl = df.loc[(df['balance'] > 2000) & (df['tarif'] == 'Всё за 500')]
cl

,surname,name,tarif,balance,age,sms,voice,city,phone
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung

In [32]:
np.floor(len(cl) / len(df) * 100)

16.0

### Вопрос 13: Сколько клиентов из Москвы, у которых баланс выше 1500 и марка телефона 'Apple'?

In [33]:
len(df.loc[(df['city'] == 'Moscow') & (df['balance'] > 1500) & (df['phone'] == 'Apple')])

2

### Вопрос 14: Самое распространённое имя среди наших клиентов?

In [34]:
df.groupby('name').surname.count().idxmax()

'Sergey'

### Вопрос 15: Определите процент клиентов у которых телефон Apple и они из Владивостока

In [35]:
np.floor(len(df[(df['phone']=='Apple') & (df['city'] == 'Vladivostok')]) / len(df)*100)

3.0

In [36]:
df['client_name'] = df['surname'] +' '+ df['name']
df

,surname,name,tarif,balance,age,sms,voice,city,phone,client_name
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi,Girev Andrey
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung,Bykin Stas
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei,Ivanov Alex
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple,Andreev Sergey
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung,Girev Stas
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi,Bykin Andrey
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung,Kozlov Igor
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple,Girev Alex
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple,Petrov Nikolay
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple,Andreev Sergey
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi,Smolov Stas
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung,Girev Igor
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple,Kozlov Andrey
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi,Ivanov Sergey
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei,Smolov Sergey
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple,Kozlov Stas
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi,Vlasov Andrey
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei,Smolov Alex
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple,Vlasov Sergey
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung,Bykin Alex
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi,Andreev Nikolay
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi,Bykin Igor
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung,Girev Sergey
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi,Bykin Sergey
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple,Girev Stas
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei,Smolov Sergey
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei,Mezov Nikolay
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi,Smolov Stas
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi,Vlasov Andrey
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung,Ivanov Nikolay

In [37]:
df['group'] = np.where(df['age'] <= 25, 'A',
                       np.where(df['age'] > 40, 'C', 'B'))
df

,surname,name,tarif,balance,age,sms,voice,city,phone,client_name,group
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi,Girev Andrey,B
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung,Bykin Stas,B
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei,Ivanov Alex,C
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple,Andreev Sergey,C
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung,Girev Stas,C
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi,Bykin Andrey,C
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung,Kozlov Igor,C
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple,Girev Alex,C
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple,Petrov Nikolay,C
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple,Andreev Sergey,C
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi,Smolov Stas,B
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung,Girev Igor,C
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple,Kozlov Andrey,C
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi,Ivanov Sergey,B
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei,Smolov Sergey,B
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple,Kozlov Stas,C
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi,Vlasov Andrey,B
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei,Smolov Alex,C
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple,Vlasov Sergey,B
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung,Bykin Alex,C
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi,Andreev Nikolay,C
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi,Bykin Igor,B
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung,Girev Sergey,C
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi,Bykin Sergey,C
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple,Girev Stas,C
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei,Smolov Sergey,C
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei,Mezov Nikolay,B
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi,Smolov Stas,C
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi,Vlasov Andrey,B
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung,Ivanov Nikolay,C

In [38]:
df.loc[df['city'] == 'Moscow', ['balance']]=df['balance'] - df['sms'] * 3
df

,surname,name,tarif,balance,age,sms,voice,city,phone,client_name,group
0,Girev,Andrey,ВИП,2641,29,58,6358,Moscow,Xiaomi,Girev Andrey,B
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung,Bykin Stas,B
2,Ivanov,Alex,Всё за 800,167,47,81,3582,Moscow,Huawei,Ivanov Alex,C
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple,Andreev Sergey,C
4,Girev,Stas,Всё за 800,4786,43,61,8510,Moscow,Samsung,Girev Stas,C
5,Bykin,Andrey,Всё за 500,4191,49,39,2525,Moscow,Xiaomi,Bykin Andrey,C
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung,Kozlov Igor,C
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple,Girev Alex,C
8,Petrov,Nikolay,ВИП,4546,72,88,7188,Moscow,Apple,Petrov Nikolay,C
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple,Andreev Sergey,C
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi,Smolov Stas,B
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung,Girev Igor,C
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple,Kozlov Andrey,C
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi,Ivanov Sergey,B
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei,Smolov Sergey,B
15,Kozlov,Stas,Всё за 800,4319,59,82,3168,Moscow,Apple,Kozlov Stas,C
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi,Vlasov Andrey,B
17,Smolov,Alex,Корпоративный,3698,71,22,2768,Moscow,Huawei,Smolov Alex,C
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple,Vlasov Sergey,B
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung,Bykin Alex,C
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi,Andreev Nikolay,C
21,Bykin,Igor,Всё за 500,2609,38,11,3787,Moscow,Xiaomi,Bykin Igor,B
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung,Girev Sergey,C
23,Bykin,Sergey,Всё за 800,3983,48,39,227,Moscow,Xiaomi,Bykin Sergey,C
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple,Girev Stas,C
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei,Smolov Sergey,C
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei,Mezov Nikolay,B
27,Smolov,Stas,Всё за 500,2545,41,33,8341,Moscow,Xiaomi,Smolov Stas,C
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi,Vlasov Andrey,B
29,Ivanov,Nikolay,Всё за 500,2770,41,5,2901,Moscow,Samsung,Ivanov Nikolay,C